.field {
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 5px;
  position: relative;
  width: 90%;
  line-height: 1;
  font-family: "Anek Devanagari", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.alert-danger {
  padding-left: 3%;
  padding-top: 1%;
}

.nameFields {
  display: flex;
  width: 90%;
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 5px;
  gap: 16px;
  font-family: "Anek Devanagari", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.nameFields .name {
  flex: 1; /* This makes both fields take equal space */
}
