.circle {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: white;
    display: inline-block;
    z-index: 300;
    border: 1px solid black;
    color: black;
    font-size: 20px;
    text-align: center;
    justify-content: center;
}

.line {
    position: absolute;
    display: flex;
    align-items: center;
    font-size: 15px ;
    width: 10%;
    margin: 10px;
    margin-left: 20px;
    color: gray;
}

.line::before {
    flex: 1;
    content: '';
    padding: 0.5px;
    background-color: grey;
    margin: 5px;

}